body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E6eae5;
}

.company-name {
    color: black;
    margin: 10px;
    font-size: 24px;
    position: relative;
    left: 0;
}

header {
    background-color: #749AD2;
    color: black;
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    flex-direction: row;
    gap: 20px;
}

.logo img {
    max-width: 100px;
}

.main-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
}

.category-box {
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    background-color: white;
    width: 1000px;
    height: 1000px;
}

#product-info-container {
    flex: 1;
    display: flex;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    background-color: white;
    max-height: 100%;
}

#product-costing-container {
    flex: 1;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    background-color: white;
    max-height: 100%;
}

#product-image {
    width: 400px;
    height: 400px;
    margin-right: 20px;
}

#product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#reviews-section {
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    background-color: white;
    width: 1850px;
    position: center;
    text-align: center;
}

#existing-reviews {
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    background-color: white;
}

.rating {
    margin-bottom: 15px;
}

form {
    border: 2px solid #ccc;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: center;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.review-box {
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    background-color: white;
}

.review-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.review-description {
    margin-bottom: 10px;
}

.review-date {
    font-size: 12px;
    color: #888;
}

.star-rating {
    color: gold;
    font-size: 20px;
    margin-top: 15px;
    margin-right: 25px;
}

.ratingFlex {
    display: flex;
    gap: 5px;
}